<div>
    <label class="btn btn-primary" for="projection-input">Select Projection [.csv,.txt,.npy,.jpg,.png]</label>
    <input style="display:none;" id="projection-input" name="projection" type="file" title="Upload Projection">
</div>
<div>
    {% if projection_present %}
        <div><img style="height: 512px; width: 512px" src="{{ base_url + '/projection' }}"
                  alt="Error: image could not get loaded">
        </div>
        <button class="btn-outline-dark"
                    onclick="$ctrl.downloadImage('projection/download', 'projection.csv')">
            Download Image
        </button>
        {% if surview_present %}
            <button class="btn-outline-dark"
                        onclick="$ctrl.downloadImage('projection/registration/download', 'registration.csv')">
                Download Registration
            </button>
            <button class="btn-outline-dark" onclick="$ctrl.switchImageView('projection/registration')">
                Show/Hide registration</button>
        {% endif %}
    {% endif %}
    <div {{ "hidden" if projection_present }}>
            <div id="projection-drop" class="d-flex justify-content-center align-items-center"
            style="height: 512px; width: 512px; border: 1px solid">
                <p><strong>Drop something here</strong></p>
    </div>
    </div>

</div>

