<div style="width:512px">
    <label class="btn btn-primary select-image-button" for="projection-input">Select Projection</label>
    <input style="display:none;" id="projection-input" name="projection" type="file" title="Upload Projection">

    {% if projection_present %}
        <button type="button"
                onclick="!window.$ctrl && setTimeout(() => $ctrl.deleteImage('/projection'), 1000) ||
                    $ctrl.deleteImage('/projection')"
        class="btn-close float-end close-image-button"></button>
    {% endif %}
</div>