<div class="modal fade" id="selection-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="selection-modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" id="selection-modal-close-button-top"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="d-flex justify-content-center align-items-center">
                  <canvas style="border: 1px solid" id="selection-modal-canvas"></canvas>
          </div>
      </div>
      <div class="modal-footer">
          <span class="justify-content-start" style="margin-right: auto">
            <label for="modal-selection-x">Width:</label>
                <input id="modal-selection-x" style="width: 60px" type="number">
            <label for="modal-selection-y">Height:</label>
            <input id="modal-selection-y" style="width: 60px" type="number">
            <button id="modal-selection-size-button" style="margin-bottom: 5px; margin-right: 20px"
                    class="btn btn-secondary btn-sm">
                Set Selection
            </button>

            <label for="modal-window-min">Min:</label>
            <input id="modal-window-min" style="width: 100px" type="number">
            <label for="modal-window-max">Max:</label>
            <input id="modal-window-max" style="width: 100px" type="number">
            <button id="modal-window-button" style="margin-bottom: 5px" class="btn btn-secondary btn-sm">
                Set Window</button>
          </span>

        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="selection-modal-close-button">
            Close</button>
        <button type="button" class="btn btn-primary" id="selection-modal-ok-button">OK</button>
      </div>
    </div>
  </div>
</div>