<div style="width: 512px">
    <label class="btn btn-primary select-image-button" for="surview-input">Select Surview</label>
    <input style="display:none;" id="surview-input" name="surview" type="file" title="Upload Surview">
    {% if surview_present %}
        <button type="button" onclick="$ctrl.deleteImage('/surview')"
                class="btn-close float-end close-image-button">
        </button>
    {% endif %}
</div>
<div>
    {% if surview_present %}

        <div style="height: 512px; width: 512px; border: 1px solid">
            <img style="height: 512px; width: 512px" src="{{ base_url + '/surview' }}"
                 alt="Error: image could not get loaded">
        </div>
    {% endif %}

    <div {{ "hidden" if surview_present }}>
        <div class="d-flex justify-content-center align-items-center" id="surview-drop"
            style="height: 512px; width: 512px; border: 1px solid">
        <div id="surview-spinner"><strong>Drop a file here</strong></div>
    </div>
    </div>
</div>
{% if surview_present %}
    <div>
        <button class="btn-outline-dark"
                onclick="$ctrl.downloadImage('surview/download', 'surview.csv')">
            Download Image
        </button>
        <button class="btn-outline-dark"
                onclick="$ctrl.downloadImage('surview/segmentation/download', 'segmentation.csv')">
            Download Segmentation
        </button>
        <button class="btn-outline-dark" onclick="$ctrl.switchImageView('surview/segmentation')">Show/Hide Segmentation</button>
    </div>
{% endif %}


