<div class="modal fade" id="surviewModal" tabindex="-1" aria-labelledby="surviewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="surviewModalLabel">
            Move the rectangle by clicking on the surview image to select the area for segmenation.
            Click the OK button when you are finished.
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <canvas id="surview-modal-canvas"></canvas>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="$ctrl.finishSurviewCropping()">OK</button>
      </div>
    </div>
  </div>
</div>