<div style="width: 512px">
    <label class="btn btn-primary select-image-button" for="surview-input">Select Surview</label>
    <input style="display:none;" id="surview-input" name="surview" type="file" title="Upload Surview">
    {% if surview_present %}
        <button type="button"
                onclick="!window.$ctrl && setTimeout(() => $ctrl.deleteImage('/surview'), 1000) ||
                    $ctrl.deleteImage('/surview')"
                class="btn-close float-end close-image-button">
        </button>
    {% endif %}
</div>