.row {
    padding-top: 30px;
}

.select-image-button {
    width: 474px
}

.close-image-button {
    border: 2px solid; height: 26px; width: 26px; background-color: lightgrey
}

.results-table {
    background-color: white;
    margin-top:10px; width: 520px;
    text-align: center;
    border: 1px solid white
}

.modal-footer-span {
    margin-right: auto
}

.image {
    height: 512px;
    width: 512px;
    border: 1px solid
}

.big-button {
    width: 512px;
    height: 38px
}