<!doctype html>
<html lang="en">
  <head>
    <title>sdexa-gui</title>
  </head>
  <body>
    <h1>sdexa-gui</h1>
    <form action="/uploads" method="POST" enctype="multipart/form-data">
        <div>
            <label for="upload">upload file</label>
            <input name="surview" type="file" title="upload file">
            <label for="upload">upload file</label>
            <input name="ct" type="file" title="upload file">
        </div>
       <div>
            <button type="submit">Submit</button>
       </div>
    </form>

    {% if filename_surview != None %}
        <img src="../uploads/{{ filename_surview }}" alt="image">
    {% endif %}

    {% if filename_ct != None %}
        <img src="../uploads/{{ filename_ct }}" alt="image">
    {% endif %}
  </body>
</html>