<!doctype html>
<html lang="en">
  <head>
    <title>sdexa-gui</title>
  </head>
  <body>
    <h1>sdexa-gui</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div>
            <label for="upload">upload file</label>
            <input name="upload" type="file" title="upload file">
        </div>
       <div>
            <button type="submit">Submit</button>
       </div>
    </form>

    {% if image_filename != None %}
        <img src="../uploads/{{image_filename}}" alt="image">
    {% endif %}
  </body>
</html>