<div class="modal fade" id="fullscreen-modal" tabindex="-1" aria-labelledby="fullscreen-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fullscreen-modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" id="fullscreen-modal-close-button-top"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="d-flex justify-content-center align-items-center">
                  <canvas style="border: 1px solid" id="modal-canvas"></canvas>
          </div>
      </div>
      <div class="modal-footer">
          <span class="justify-content-start" style="margin-right: auto">
            <label>
                <input id="fullscreen-modal-window-min" style="width: 100px" placeholder="Min" type="number">
            </label>
            <label>
                <input id="fullscreen-modal-window-max" style="width: 100px" placeholder="Max" type="number">
            </label>
            <button id="fullscreen-modal-window-button" style="margin-bottom: 5px" class="btn btn-secondary btn-sm">
                Set Window</button>
          </span>

        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="fullscreen-modal-close-button">
            Close</button>
        <button type="button" class="btn btn-primary" id="fullscreen-modal-ok-button">OK</button>
      </div>
    </div>
  </div>
</div>