{% extends 'base.html' %}

{% block page %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>SDEXA GUI</h1>
            </div>
            <div class="col-sm text-right">
                <img src="{{ url_for('static', filename='images/TUM_logo.png') }}" style="height:50px">
            </div>
        </div>
        <div class="row">
            {% block content %} {% endblock %}
        </div>
        <div class="row">
            <footer>
                <p>Authored <b>2021 TU München.</b></p>
                <p>Code by Sebastian Peter (TUM)
                <p>Github: github.com/sebastiantpeter, Email: s.peter@tum.de</p>
            </footer>
        </div>
    </div>
{% endblock %}