{% extends 'base.html' %}

{% block page %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>SDEXA GUI</h1>
                <h3>Image Segmentation/Registration</h3>
            </div>
            <div class="col-sm text-right">
                <img class="float-end" src="{{ url_for('static', filename='images/TUM_logo.png') }}" style="height:50px">
            </div>
        </div>
        <div class="row">
            {% block content %} {% endblock %}
        </div>
        <div class="row">
            <footer>
                <p>Authored by <b>Sebastian Peter</b> 2021 (TUM).
            </footer>
        </div>
    </div>
{% endblock %}