{% extends 'base.html' %}

{% block page %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>SDEXA GUI</h1>
                <h3>Osteoporosis status determination</h3>
            </div>
            <div class="col-sm text-right">
                <img class="float-end" src="{{ url_for('static', filename='images/TUM_logo.png') }}" style="height:50px">
            </div>
        </div>
        <div class="row">
            {% block content %} {% endblock %}
        </div>
        <div class="row" >
            <footer>
                <div class="card card-body">
                    <p>Authored by <b>Sebastian Peter</b> - computer science student (TUM)<br>
                    Contact: <u>s.peter(at)tum.de</u> (or visit my <a href="https://github.com/sebastianpeter94">Github</a> page)<br>
                    This software is meant to be a prototype and is thus not ready for release, especially not for clinical use!</p></div>
            </footer>
        </div>
    </div>
{% endblock %}